<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mapper.ChapterMapper">

    <!--加载未隐藏的课程-->
    <select id="loadCourses" resultType="Course">
        select *
        from courses
        where deleted = 0;
    </select>

    <!--加载所有的课程-->
    <select id="loadAllCourses" resultType="Course">
        select *
        from courses;
    </select>

    <!--    查询任课老师姓名-->
    <select id="FindCourseTeacher" parameterType="String" resultType="String">
        select tech_name
        from teachers
        where tech_ID = #{teacher_id};
    </select>

    <!--    查询课程相关信息-->
    <select id="CourseInfo" parameterType="int" resultType="Course">
        select *
        from courses
        where id = #{CourseId}
    </select>

    <!--    查询章节信息-->
    <select id="ChapterInfo" parameterType="int" resultType="Chapter">
        select *
        from chapters
        where course_id = #{CourseId};
    </select>

    <!--    查询章节课件-->
    <select id="materials" parameterType="int" resultType="Material">
        select *
        from coursematerials
        where chapter_id = #{ChapterId};
    </select>

    <!--    查询章节信息-->
    <select id="FindChapterByChapterId" parameterType="int" resultType="Chapter">
        select *
        from chapters
        where chapter_id = #{chapterId};
    </select>

    <!--    新增章节-->
    <insert id="AddChapter" parameterType="Chapter">
        insert into chapters
        values (#{chapter_id}, #{course_id}, #{chapter_title});
    </insert>

</mapper>