<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mapper.StudentMapper">

    <!--    注册新用户-->
    <insert id="Register_stu" parameterType="Student">
        insert into students
        values (#{stu_ID}, #{stu_name}, #{stu_pwd}, #{major}, #{stu_class}, #{mail}, #{banned});
    </insert>

    <!--查找是否有登录的该用户 -->
    <select id="findUserByID" parameterType="String" resultType="Student">
        select *
        from students
        where #{ID} = stu_ID;
    </select>

    <!--    根据学生id来查询学生信息-->
    <select id="FindStudentByID" parameterType="String" resultType="Student">
        select *
        from students
        where #{message.getStu_id())} = stu_ID;
    </select>
    <!--    修改个人信息-->
    <update id="UpdateStudent" parameterType="Student">
        update students
        set stu_name  = #{stu_name},
            stu_pwd   = #{stu_pwd},
            major     = #{major},
            stu_class = #{stu_class},
            mail      = #{mail}
        where stu_ID = #{stu_ID};
    </update>

</mapper>